:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* ---------------------- */
.navbar {
  border-bottom: 1px solid #ccc;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #333;
  padding: 0.5rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
}

.nav-link:hover,
.nav-link.active {
  background-color: #eee;
}
/* ----------------------------------- */
input {
  display: block;
  margin-bottom: 20px;
}

.info {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
}

.warning {
  font-weight: bold;
  color: rgb(111, 7, 7);
}

.movie {
  margin: 5px;
  padding: 5px;
  background-color: rgb(142, 162, 204);
}

/* -------------------------- */

.seat {
  min-height: 50px;
  font-size: 1rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.seat:hover {
  transform: scale(1.1);
}

.available {
  background-color: #fff;
}

.occupied {
  background-color: #aaa;
}

.selected {
  background-color: #f00;
}

.seat-map {
  display: grid;
  direction: rtl;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-gap: 5px;
}
/* -------------movie-------------------------- */

.movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* add some spacing between the cards */
}

.movie-card {
  display: flex;
  flex-direction: column;
  width: 300px; /* adjust this value as needed */
  margin-bottom: 40px; /* add some space at the bottom of each card */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* add a subtle box shadow */
  border-radius: 5px; /* round the corners of the card */
  overflow: hidden; /* clip any content that overflows the card */
}

.card-img-top {
  width: 200px;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
  margin: 10px 0;
}

.movie-card .card-body {
  padding: 20px; /* add some padding to the card body */
  flex-grow: 1;
}

.movie-card .movie-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-card .movie-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.movie-card .movie-categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.movie-card .movie-category {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  text-transform: uppercase; /* convert category names to uppercase */
  font-weight: 600; /* add some boldness to the category names */
  padding: 6px 12px; /* add some padding to the category badges */
  border-radius: 50px; /* make the category badges circular */
  background-color: #007bff; /* use a blue background color for the badges */
  color: #fff; /* set the text color of the badges to white */
}
/* ----------booking-------------- */
.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #c41616;
}

.text-center {
  text-align: center;
}

.Card {
  border: 20px solid #c41616;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.Card.Header {
  background-color: #ac2121;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Card.Body {
  padding: 1rem;
}

.select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.Button:hover {
  background-color: #0069d9;
}
