:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

input {
  display: block;
  margin-bottom: 20px;
}

.info {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
}

.warning {
  font-weight: bold;
  color: rgb(111, 7, 7);
}

.movie {
  margin: 5px;
  padding: 5px;
  background-color: rgb(142, 162, 204);
}

header {
  background-color: #eedcdc;
  padding: 0 20px;
  margin-bottom: 10px;
}

header nav a {
  display: inline-block;
  padding: 20px;
  color: rgb(7, 83, 7);
  text-decoration: none;
}

header nav a:first-of-type {
  padding-left: 0;
}

header nav a.active {
  color: rgb(33, 150, 33);
}
