.seat {
  min-height: 40px;
  min-width: 35px;
  font-size: 1rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seat:hover {
  transform: scale(1.1);
}

.available {
  background-color: #fff;
}

.occupied {
  background-color: #aaa;
}

.selected {
  background-color: #f00;
}

#seatrow {
  margin-bottom: 20px;
}

/* -------------movie-------------------------- */

#categoryDropDown {
  margin: 20px 0;
  /* width: 100%; */
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}

#categoryDropDownItem {
  font-size: 18px;
  font-weight: normal;
}

.weekday-row {
  height: 60px;
  border: none;
  background: linear-gradient(to bottom, #f5f5f5, #e5e5e5);
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #555;
}
.movie-link {
  color: #212529;
  text-decoration: none;
  transition: all 0.3s ease;
}

.movie-card {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 330px; /* adjust this value as needed */
  margin-bottom: 40px; /* add some space at the bottom of each card */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* add a subtle box shadow */
  border-radius: 5px; /* round the corners of the card */
  overflow: hidden; /* clip any content that overflows the card */
}

.movie-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-img-top {
  width: 200px;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
  margin: 10px 0;
}

.movie-card .movie-category {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  text-transform: uppercase; /* convert category names to uppercase */
  font-weight: 600; /* add some boldness to the category names */
  padding: 6px 12px; /* add some padding to the category badges */
  border-radius: 50px; /* make the category badges circular */
  background-color: #007bff; /* use a blue background color for the badges */
  color: #fff; /* set the text color of the badges to white */
}
.movie-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #212529;
}

/* Card info style */
.movie-info {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

/* Movie time style */
.movie-time {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 0.8rem;
  text-transform: uppercase;
  color: #6c757d;
}

/* Movie length style */
.movie-length {
  font-size: 0.6 rem;
  color: #6c757d;
  text-transform: none;
}

/* Movie categories container style */
.movie-categories {
  margin-top: 1rem;
  min-height: 70px;
}

/* Movie category style */
.movie-category {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 25px;
  color: #fff;
}

/* Badge style */
.movie-category.primary {
  background-color: #007bff;
  border-color: #007bff;
}

/* ----------booking-------------- */
