/* -------------navbar-------------------------- */
.navbar {
  border-bottom: 1px solid #ccc;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #333;
  padding: 0.5rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
}

.nav-link:hover,
.nav-link.active {
  background-color: #eee;
}

/* -------------movie-------------------------- */

.movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* add some spacing between the cards */
}

.movie-card {
  display: flex;
  flex-direction: column;
  width: 300px; /* adjust this value as needed */
  margin-bottom: 40px; /* add some space at the bottom of each card */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* add a subtle box shadow */
  border-radius: 5px; /* round the corners of the card */
  overflow: hidden; /* clip any content that overflows the card */
}

.card-img-top {
  width: 200px;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
  margin: 10px 0;
}

.movie-card .card-body {
  padding: 20px; /* add some padding to the card body */
  flex-grow: 1;
}

.movie-card .movie-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-card .movie-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.movie-card .movie-categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.movie-card .movie-category {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  text-transform: uppercase; /* convert category names to uppercase */
  font-weight: 600; /* add some boldness to the category names */
  padding: 6px 12px; /* add some padding to the category badges */
  border-radius: 50px; /* make the category badges circular */
  background-color: #007bff; /* use a blue background color for the badges */
  color: #fff; /* set the text color of the badges to white */
}

/* -------------booking-------------------------- */

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.Col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

select {
  font-size: 16px;
  margin-left: 10px;
}

Link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
}

Link:hover {
  background-color: #0069d9;
}
